<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Milky Way</title>
  </head>

  <body>
    <h1 data-position="header">Navigating the Milky Way</h1>

    <section data-position="add-quote">
      <h2>Add Planet/ Object in the Galaxy!</h2>

      <form action="/result" method="POST">
        <input type="text" placeholder="planet name" name="name" />
        <input type="text" placeholder="True/ False: has rings?" name="hasRings" />
        <button type="submit">Add Now!</button>
      </form>
    </section>

    <section data-position="planets">
<!-- teams with an S is the collection Name
team is what my name is within the collection
quote would be like orderFromSun for me -->


    <h2> Planets in the Milky Way </h2>
    <ul class = "list">
        <% for(var i = 0; i < planets.length; i++) {%>
        <li class = "planets">
            <span>Name: <%= planets[i].name %></span><br>
             <span>Rings: <%= planets[i].hasRings %></span><br> 
         <form action="/updatePlanets/<%= planets[i].name %>" method="post">
              <input type="submit" value = "Update"  />
            </form>


            <form action="/deletePlanets/<%= planets[i].name %>" method="post">
              <input type="submit" value = "Delete" />
            </form>
            <div> <br> </div>
        </li>
        <% } %>

    </section> 
    
    <a target="blank" href="https://github.com/astricklandd/quebec-moonlander">Source Code</a>
    </html>
    

    <!-- <script src="main.js"></script> -->
  </body>
</html>