<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>College Football Team Tracker</title>

  </head>

  <body>
    <h1 data-position="header">Whats your favorite college football team?</h1>


    <section data-position="add-quote">
      <h2>Add Team</h2>

      <form action="/planets" method="POST">
        <input type="text" placeholder="team name" name="name" />
        <input type="text" placeholder="team quote" name="hasRings" />
        <button type="submit">Submit</button>
      </form>
    </section>

    <section data-position="planets">
<!-- teams with an S is the collection Name
team is what my name is within the collection
quote would be like orderFromSun for me -->
    <h2> Teams </h2>
    <ul class = "planets">
        <% for(var i = 0; i < planets.length; i++) {%>
        <li class = "planets">
            <span>Name: <%= planets[i].name %></span><br>
            <span>Rings: <%= planets[i].hasRings %></span><br>
            <form action="/updateplanets/<%= planets[i].name %>" method="post">
              <input type="submit" value = "Update" onClick="return confirm('This will update the selected planet.')" />
            </form>
            <form action="/deleteplanets/<%= planets[i].hasRings %>" method="post">
              <input type="submit" value = "Delete" onClick="return confirm('This will delete the selected rings i guess.')" />
            </form>
            <div> <br> </div>
        </li>
        <% } %>

    </section>
    
    <a target="blank" href="https://github.com/Kiikz/reach-quebec">Source Code</a>
    </html>
    

    <script src="/main.js"></script>
  </body>
</html>